li, img, div {
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: "Montserrat", "Trebuchet MS", Helvetica;
    margin: 2em;
}

h1 { 
    font-size: 35px; 
    line-height: 1.1px;
    font-weight: bold;
    text-align:center;
    text-transform: uppercase;
    color: #c8b60d;
    margin: 1em;
}

h2 { 
    font-size: 2em; 
    font-style: bold;
    text-transform: uppercase;
    color: #c8b60d;
}
h3 {
    font-size: 1em; 
    font-style: bold;
    text-transform: uppercase;
    color: #c8b60d;
}

p{
    color: #c8b60d;
    margin-bottom: 2em;
    margin-top: 1em;
}

label{
    color: #c8b60d;
}


/* skip to main content requirment */
a.skip-to-content {
    left: 0;
    padding: 6px;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

a.skip-to-content:focus {
    position: static;
    top: 0px;
    visibility: visible;
}

.nav-container {
    display: none;
}

.dropdown {

}

.mobile-logo {
  text-align: center;
}

.skip{
    background: white;
    color: #c8b60d;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
  }

  .skip:focus{
    top: 0px;
  }

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vid-title {
    text-align: center;
}

.vid-desc {
    text-align: center;
}


/* may delete vv */
.video iframe {
    width: 75%;
}
/* xx */


/* style the footer and the footer links */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6
}

.footer-dark ul a:hover {
    opacity: 0.8
}

.footer-dark .item.text {
    margin-bottom: 36px
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75
}

.footer-dark .item.social>a:hover {
    opacity: 0.9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
    margin-bottom: 0
}

/* mobile view edits */


/* Tablet View */
@media (min-width: 760px) {
    
    /* Nav bar on every page */
    .nav-container {
        text-align: center; 
        font-family: 'Raleway';
        font-weight: bolder;
        text-decoration: none;
        padding: 30px; 
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-rows: 0.25fr;
        gap: 1px 0px;
        grid-auto-flow: row;
        grid-template-areas: "Home Guests Logo Videos Contact";
    }

    .nav-container a { 
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    
    }

    .dropdown {
        display: none;
    }

    .mobile-logo {
        display: none;
    }

    .active{
        font-weight: bold;
        border: 3px outset; 
    }

    nav a:hover{
        font-weight: revert; 
        color: gold;
    }

    .Home { 
        grid-area: Home; 
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .Guests { 
        grid-area: Guests; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Logo { 
        grid-area: Logo; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Videos { 
        grid-area: Videos; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Contact { 
        grid-area: Contact; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* About page welcome images and statement */
    
    
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-dark .item.text {
        margin-bottom: 0;
    }

    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px
    }

    .footer-dark .item.text {
        margin-bottom: 0
    }
}

/* DESKTOP view */
@media screen and (min-width: 1000px) {

    .mobile-logo {
        display: none;
    }

}

